{% extends 'layout.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="../static/styles/intro.css">
{% endblock %}
{% block intro %}
<!-- hero from https://getbootstrap.com/docs/5.1/examples/heroes/ -->
<div class="px-4 py-5 my-5 text-center">
    <div id="svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-ear-fill mt-5"
            viewBox="0 0 16 16">
            <path
                d="M8.5 0A5.5 5.5 0 0 0 3 5.5v7.047a3.453 3.453 0 0 0 6.687 1.212l.51-1.363a4.59 4.59 0 0 1 .67-1.197l2.008-2.581A5.34 5.34 0 0 0 8.66 0H8.5ZM7 5.5v2.695c.112-.06.223-.123.332-.192.327-.208.577-.44.72-.727a.5.5 0 1 1 .895.448c-.256.513-.673.865-1.079 1.123A8.538 8.538 0 0 1 7 9.313V11.5a.5.5 0 0 1-1 0v-6a2.5 2.5 0 0 1 5 0V6a.5.5 0 0 1-1 0v-.5a1.5 1.5 0 1 0-3 0Z" />
        </svg>
    </div>

    <h1 class="display-5 fw-bold" id="text">Test your hearing threshold for different sound frequencies</h1>
    <div class="col-lg-6 mx-auto mt-5">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" id="btn1">Continue</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4 d-none" id="btn2">Back</button>
        </div>
        <div class="dots mt-5">
            <span class="dot dot-active" id="dot1"></span>
            <span class="dot" id="dot2"></span>
            <span class="dot" id="dot3"></span>
            <span class="dot" id="dot4"></span>
            <span class="dot" id="dot5"></span>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="../static/intro.js"></script>
{% endblock %}