{% extends 'layout.html' %}
{% block stylesheet %}
<link rel="stylesheet" href="../static/styles/player.css">
{% endblock %}
{% block player %}
<!-- hero from https://getbootstrap.com/docs/5.1/examples/heroes/ -->
<div class="px-4 py-5 my-5 text-center" id="setupSlide">
    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
        height="57"> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-sliders mt-5"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" />
    </svg>
    <p class="mb-4 text-muted d-none" id="playIndicator">Playing audio</p>

    <div class="col-lg-6 mx-auto">
        <h1 class="display-5 fw-bold" id="dialogueBox">Please reduce your volumn to zero</h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" id="lowerVolConfirmBtn">Done</button>
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3 d-none" id="playPauseBtn">Play</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4 d-none" id="setBtn">Set</button>
        </div>
    </div>
</div>
<!-- end of setup -->
<div class="px-4 py-5 my-5 text-center d-none" id="tonePlayer">
    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72"
        height="57"> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" fill="currentColor" class="bi bi-music-note mt-5"
        viewBox="0 0 16 16">
        <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z" />
        <path fill-rule="evenodd" d="M9 3v10H8V3h1z" />
        <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z" />
    </svg>
    <p class="mb-4 text-muted" id="playerIndicator">Playing Tone 1 of 19</p>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center flex-wrap" id="pagination-bar">
            <!-- <li class="page-item active"><a class="page-link mt-1" href="#">0</a></li>
            <li class="page-item done"><a class="page-link mt-1" href="#">10</a></li> -->
        </ul>
    </nav>
    <div class="col-lg-6 mx-auto">
        <h1 class="display-5 fw-bold">Do you hear a sound?</h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" id="yesBtn">Yes, I do</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" id="noBtn">No</button>
        </div>
        <p class="mt-4 text-muted d-none" id="yesBtnNotify">* Hit yes till you don't hear a sound</p>
    </div>
</div>

<div class="d-flex justify-content-center my-5 d-none" id="loader">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="../static/pureTone.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="../static/player.js"></script>
{% endblock %}