.page-item.active a {
    background-color: rgb(255, 79, 79) !important;
    border: solid 1px rgb(255, 79, 79) !important;
}
.page-item.active.zero a {
    background-color: rgb(255, 190, 79) !important;
    border: solid 1px rgb(255, 190, 79) !important;
}
.page-item.active.one a {
    background-color: rgb(230, 190, 79) !important;
    border: solid 1px rgb(230, 190, 79) !important;
}
.page-item.active.two a {
    background-color: rgb(200, 190, 79) !important;
    border: solid 1px rgb(200, 190, 79) !important;
}
.page-item.active.three a {
    background-color: rgb(180, 190, 79) !important;
    border: solid 1px rgb(180, 190, 79) !important;
}
.page-item.active.four a {
    background-color: rgb(150, 190, 79) !important;
    border: solid 1px rgb(150, 190, 79) !important;
}
.page-item.active.five a {
    background-color: rgb(130, 190, 79) !important;
    border: solid 1px rgb(130, 190, 79) !important;
}
.page-item.active.six a {
    background-color: rgb(100, 190, 79) !important;
    border: solid 1px rgb(100, 190, 79) !important;
}

.page-item.done a {
    background-color: rgb(51, 174, 106) !important;
    border: solid 1px rgb(51, 174, 106) !important;
    color: #fff !important;
}